body
{
  background-color: #333;
}

h1.sessionheader {
  margin-left: 30px;
  color: #555;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-weight: normal;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h2.sessionfooter {
  margin-left: 30px;
  color: #555;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-weight: normal;
  margin-bottom: 0px;
}

section.session {
  background-color: #F8971C;
  border: 3px solid #8A8A8C;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

div.entry {
  margin-left: 60px;
  margin-right: 60px;
  font-family: Tahoma, Geneva, sans-serif;
}

p.mininote {
  text-align: justify;
  padding-left: 20px;
  margin-left: 20px;
}

div {
  padding: 10px;
}

section.summary {
  margin-left: 60px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #555;
  background-color: #F8971C;
  border: 3px solid #8A8A8C;
  padding-left: 20px;
  border-radius: 10px;
  margin: 20px;
}

.wordWrap {
    white-space: no-wrap;
}

.forceWrap {
    word-break: break-all;
}
