body
{
  background-color: #333;
}

h1.sessionheader {
  margin-left: 30px;
  color: #555;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-weight: normal;
}

h2.sessionfooter {
  margin-left: 30px;
  color: #555;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-weight: normal;
}

section.session {
  background-color: #F8971C;
  border: 3px solid #8A8A8C;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

div.entry {
  margin-left: 60px;
  border-left: 4px solid #333;
  font-family: Tahoma, Geneva, sans-serif;
}

p.pausenote {
  text-align: justify;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 2px solid #777;
}

div.entry.pause {
  margin-left: 60px;
  border-left: 4px solid #777;
}

div {
  padding: 10px;
}
